.godot/
.godot-user/
godot/.godot/
godot/.godot-user/
node_modules/
.expo/
android/
ios/
dist/
web-build/
*.tmp
*.log
*.orig.*
.env
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision
*.pem
.DS_Store
